.heart {
    width: 505px;
    height: 190px;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/18515/heart.svg)
}

body h1{
    text-align: center;
    padding-top: row;
    
}

#logo {
    padding-left: 43%;
    width: 200px;
    height: 200px;
}

#logo svg:hover{
    transform: rotate(180deg);
}