body{
    width: 100%;
    height:100%;
    background-image: linear-gradient(to bottom, #9f9797,
     #918888, #847a7a, #776c6c, #6a5e5e, #5c5250, 
     #4f4642, #413b36, #2f2e2a, #20221f, #131514, #010202);
}

/* Menu---------------------------------------------------------------------*/
ul{
  top:100px;
  margin: 0;
  padding: 10px;
  list-style: none;
  width: 150px;
  height: 530px;
  position: fixed;
  background:  #2F4F4F;
  border: 3px solid white;
  
}

ul li{
  position: relative;
}

li ul {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

ul li a {
  display: block;
  text-decoration: none;
  color: white;
  background: #2F4F4F ;
  padding: 5px;
  border: 3px solid #ccc; 
}

li:hover ul { 
  display: block; 
}

/* Título--------------------------------------------------------------------*/

.row {
	flex-direction: row;
}
.container1 {
  width: 1120px;
	margin: none;
	display: flex;
  
}

.item1 {
	flex: 1;
	margin: none;
  font-size: 33px;
  font-family: 'Courier New', Courier, monospace;
  position: fixed;
  color: white;
}

/* Filmes/Séries/Desenhos-------------------------------------------------------------*/
.wrap {
	flex-wrap: wrap;
}

.container {
  top: 40px;
  display: flex;
  width: 1100px;
  border: 2px solid white;
  margin-left: 195px;
  margin-top: 92px;
}

.item {
	flex: 1;
	margin: 5px;
	text-align: center;
  font-size: 15px;
  border: 2px solid white;
  color: white;
}

img{
  width: 300px;
  height: 200px;
  border: 1px solid white;
}


