body {
    padding: 0;
    margin: 0;
}

.menu {
    position: fixed;
    z-index: 100px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: flex-end;
}

h1, p {
    font-family: 'Comic Sans Ms', sans-serif;
    text-align: center;
}

.intro {
    background-image: url('imgs/video games.gif');
    background-repeat: no-repeat;
    background-size: 100%;
}

.intro, .intro-box {
    margin: auto;
    margin-bottom: 0;
    padding: 3em;
    font-size: 32px;
    color: white;
    font-family: 'Comic Sans Ms', sans-serif;
}

.menu-item {
    text-decoration: none;
    color: white;
    padding: 1em;
}

.pictures {
    margin-top: -25px;
    font-size: 32px;
    padding: 2em;
    width: 100%;
    color: white;
    background-color: black;
}

.pics-info {
    padding: 1em;
    margin: auto;
    width: 800px;
    box-sizing: border-box;
}

.pics-box {
    box-sizing: content-box;
    margin: auto;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
}

.album-item {
    width: 245px;
    justify-content: center;
    margin: 10px;
}

.invaders {
    background-image: url("imgs/space02.png");
    background-repeat: no-repeat;
    height: 800px;
    color: greenyellow;
    font-family: 'Comic Sans Ms', sans sheriff;
    font-size: 32px;
    text-align: center;
    padding: 1em;
}

.invd-box {
    margin: auto;
    width: 700px;
    height: 600px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column-reverse wrap-reverse;
    justify-content: center;
    align-content: space-between;
}

.invd-item {
    width: 100px;
}

.socials {
    background-image: url('imgs/madeira.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    padding: 2em;
    font-size: 24px;
    box-sizing: content-box;
}

.social-info {
    padding: 1em;
    margin: auto;
    width: 800px;
    box-sizing: border-box;
}

.social-box {
    background-image: url('imgs/papel.png');
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
    height: 400px;
    margin: auto;
    padding: 1em;
}

.social-item {
    width: 100px;
}