@import url('https://fonts.googleapis.com/css?family=Montserrat');

@font-face {
    font-family: "TrajanPro";
    font-weight: normal;
    src: url("/assets/fonts/TrajanPro-Regular.eot") format("eot"), 
    url("/assets/fonts/TrajanPro-Regular.woff") format("woff"), 
    url("/assets/fonts/TrajanPro-Regular.ttf") format("truetype");
}

@font-face {
    font-family: AfterMidnite;
    font-weight: normal;
    src: url("/assets/fonts/AfterMidnite.eot") format("eot"), 
    url("/assets/fonts/AfterMidnite.woff") format("woff"), 
    url("/assets/fonts/AfterMidnite.ttf") format("truetype");
}


:root {
    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: TrajanPro, serif;
} 

a {
    text-decoration: none;
}

nav {
    background-color: #22223B;
    top: 0;
    position: fixed;
    width: 100%;
    height: 70px;
    box-shadow: -2px -3px 20px 3px rgba(34, 34, 59, .5);
}

section {
    padding-top: 7rem;
    padding-bottom: 5rem;
}

nav img {
    height: 60px;
    margin-top: 5px;
}

nav a {
    font-size: 1.05em;
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 19px;
    font-family: 'TrajanPro-Regular', serif !important;
}

button {
    border: 1px solid #f2e9e4;
    border-radius: 40px;
    background-color: #f2e9e4;
    color: transparent;
    padding: 15px;
    transition: all .3s ease-in-out 0s;
    width: 260px;
    height: 60px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: transparent;
}
/* General */
.text-white {
    color: white;
}

.text-light {
    color: #F2E9E4;
}

.text-dark {
    color: #22223B;
}

/* Fonts */
.montserrat {
    font-family: Montserrat, sans-serif;
}

/* Section Presentation */
#presentation {
    background-image: linear-gradient(rgba(74, 74, 105, 0.8), rgba(74, 74, 105, 0.8)),
        url("/assets/img/geovanna-bg-presentation.jpg");

}

#presentation img {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    height: 80px;
}

/* Section Home */
#home {
    background-image: linear-gradient(rgba(34, 34, 59, 0.84), rgba(34, 34, 59, 0.98)), url('assets/img/geovanna-bg-home.jpg');
    font-family: 'AfterMidnite', sans-serif  !important;
    font-weight: normal;
    font-style: normal;
    margin-top: 70px;
    height: 100vh;
}

#home h1 {
    font-size: 6.5rem;
}

#home h2 {
    font-size: 4rem;
    margin-bottom: 4rem;
}

#home p {
    font-family: TrajanPro, serif;
}

#home p div {
    font-family: TrajanPro, serif !important;
    color: #9A8C98;
}

/* Section About */
#about {
    background-color: #F2E9E4;
}

/* Section Services */
#services {
    background-image: linear-gradient(rgba(34, 34, 59, 0.8), rgba(34, 34, 59, 0.9)),
        url("/assets/img/geovanna-bg-services.jpg");


}

/* Section Testimony */
#testimony {
    background-color: #F2E9E4;
}

/* Section Contact */
#contact {
    background-image: linear-gradient(rgba(34, 34, 59, 0.8), rgba(34, 34, 59, 0.9)), url("/assets/img/geovanna-bg-contact.jpg");

}

/* Styles for flexbox */
.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.align-item-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}