@font-face {
    font-family: Trajan Pro Regular;
    src: url(../fonts/TrajanPro-Regular.ttf)
}

@media only screen and (min-width: 1025px) {
    #menu {
        top: 0;
        position: fixed;
        width: 100%;
        height: 70px;
        z-index: 999;
        background-color: #22223b;
        box-shadow: -2px -3px 20px 3px rgba(34,34,59,.5);
    }
    
    #logo-nav {
        height: 60px;
        margin-top: 5px;
    }
    
    .menu-container ul li a{
        list-style: none;    
        text-decoration: none;
        margin: 0 1.1em;
        padding: .5em 0;
        text-align: center;
        line-height: 40px;
        font-size: 16,52px;
        padding-top: 16px;
        font-family: Trajan Pro Regular,serif;
        color: #f2e9e4;
        font-weight: 400;
        margin-top: 4px;   
    }
    
    .menu-container ul li{
        position: relative;
        list-style: none;
        display: inline;
    }
    
    .menu-container ul{
        position: relative;
        list-style: none;
        margin-left: 170px;
        margin-top: 5px;
        padding-top: 10px;
    }
    
    .container {
        display: flex;
        height: 70px;
        width: 1140px;
        margin: 0 auto;
    }
    
    .menu-container ul li:after{
        content: '';
        position: absolute;
        width: 0; height: 3px;
        display: block;
        margin-top: 5px;
        right: 0;
        background: #f2e9e4;
        transition: width .2s ease;
        -webkit-transition: width .2s ease;
      }
       
    .menu-container ul li:hover:after{
        width: 90%;
        left: 0;
        background: #f2e9e4;
    }

    .lista-hamburguer{
        display: none;
    }

    #menuHamburguer{
        display: none;
    }
}

@media only screen and (max-width: 1024px){
    #menu {
        top: 0;
        position: fixed;
        width: 100%;
        height: 80px;
        z-index: 999;
        background-color: #22223b;
        box-shadow: -2px -3px 20px 3px rgba(34,34,59,.5);
    }

    .container {
        display: flex;
        height: 70px;
        width: 1140px;
        margin: 0 auto;
    }
    
    #logo-nav {
        height: 60px;
        margin-top: 5px;
    }

    .menu-container{
        display: none;
    }

    /*Menu Hamburguer*/
    .menu {
        background: transparent;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        position: fixed;
        top: 15px;
        right: 15px;
        border: 1px solid #f2e9e4;
    }
    
    .hamburguer {
        position: relative;
        display: block;
        background: #f2e9e4;
        width: 20px;
        height: 1.5px;
        top: 19px;
        right: -10px;
        transition:  .5s ease-in-out;
    }
    
    label{
        cursor: pointer;
    }
    
    .hamburguer::before, 
    .hamburguer::after {
        background: #f2e9e4;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        transition:  .5s ease-in-out;
    }
    
    .hamburguer::before{
        top: -10px;
    }
    
    .hamburguer::after{
        bottom: -10px;
    }
    
    #menu-hamburguer{
        display: none;
    }
    
    #menu-hamburguer:checked ~ label .hamburguer{
        transform: rotate(45deg);
    }
    
    #menu-hamburguer:checked ~ label .hamburguer::before{
        top: 0;
        transform: rotate(90deg);
    }
    
    #menu-hamburguer:checked ~ label .hamburguer::after{
        bottom: 0px;
        transform: rotate(90deg);
    }

    /*Lista Hamburguer*/
    #menu-hamburguer:checked ~ label .menu {
        box-shadow: 0 0 0 130vw  #4a4e69, 0 0 0 130vh  #4a4e69;
    }
    
    #menu-hamburguer:checked ~ ul {
        filter: alpha(opacity=1);
        opacity: 1;
        transition: all .25s ease-in-out 0s;
        position: fixed;
        text-align: center;
        top: calc(50% - 35px);
        left: 50%;
        transform: translate(-50%,-50%)!important;
    }
    
    .lista-hamburguer li a{
        display: block;
        margin: 10px 20px;
        color: #f2e9e4;
        font-family: Trajan Pro Regular;
        font-size: 5rem;
        text-decoration: none;
    }
    
    .lista-hamburguer li{
        list-style: none;
    }
    
    .lista-hamburguer {
        transform: translateY(110%);
        position: relative;
        opacity: 0;
        transition: .25 1s ease-in-out;
        background-color: #4a4e69;
    }
}




