
body {
    font-size: 16px;
    font-family: "TrajanPro-Regular", serif;
    background-color: #F2E9E4;
    color: #4A4E69;
    font-weight: lighter;
}
nav{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    justify-content: space-around;
}
.header {
    background-color: #22223B;
    height: 20%;

}

.menu-links{
    display: flex;
    justify-content: space-around;
}
.menu-links a{
    text-decoration: none;
    color: #F2E9E4;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: -webkit-linear-gradient(rgba(34, 34, 56, 0.84), rgba(41, 41, 70, 0.98)), url("/images/geovanna-bg-home.jpg");
    background-position: left-top;

}
.home h2,h3{
    font-size: 40px;
    color: rgba(174, 174, 182, 0.84);
    font-family: "AfterMidnite", serif;
}


.button {
    
    order: 2;
    border-radius: 35px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}


@font-face {
    font-family: "TrajanPro-Regular";
    src: url("/fonts/TrajanPro-Regular.eot?") format("eot"), url("/fonts/TrajanPro-Regular.woff") format("woff"), url("/assets/fonts/TrajanPro-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "AfterMidnite";
    src: url("/fonts/AfterMidnite.eot?") format("eot"), url("/fonts/AfterMidnite.woff") format("woff"), url("/assets/fonts/AfterMidnite.ttf") format("truetype");
}
