.formulario{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.flex-itemm{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 65% !important;
}